<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345850638015-2944colur0bba020hlvopj0fdhurbcgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345850638015-2944colur0bba020hlvopj0fdhurbcgp</string>
	<key>API_KEY</key>
	<string>AIzaSyBUPNEVABO2y0mSS7NB5qxM0vEYcoOsdVc</string>
	<key>GCM_SENDER_ID</key>
	<string>345850638015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mnv.RealtimeCounter</string>
	<key>PROJECT_ID</key>
	<string>realtimecounter-e82c4</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimecounter-e82c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345850638015:ios:807bff1f840d84e43e200a</string>
</dict>
</plist>